<form action="/create" method="POST">
  <h2>Create todo</h2>

  <div>
    <input class="input-field" type="text" name="title">
    <label>Todo title</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>