<nav class="nav">
  <a href="/" class="logo">Todos</a>
  <ul class="menu_items">

    {{#if isIndex}}
    <li class="active"><a href="/">Todos</a></li>
    {{else}}
    <li><a href="/">Todos</a></li>
    {{/if}}

    {{#if isCreate}}
    <li class="active"><a href="/create">Create</a></li>
    {{else}}
    <li><a href="/create">Create</a></li>
    {{/if}}

  </ul>
</nav>